@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #e396a8;
	--color-secondary: #a20036;
}

button[type="submit"],
.primaryBtn {
	background-color: var(--color-primary);
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

button[type="submit"]:hover,
.primaryBtn:hover {
	background-color: var(--color-secondary);
}

.input:focus {
	outline-color: #a20036 !important;
}